In [6]:
import pandas as pd
cases=pd.read_csv('Cases.csv')

In [18]:
cases.head()

,id_usuari,llibre_recomanat,score,genere_persona,any_naixement,pref_adaptacio_peli,pref_best_seller,pref_tipus_lectura,pref_sagues,Ciencia_Ficcio,Romance,Comedia,Historica,Ficcio,Fantasia,Ciencia,Creixement_personal,Policiaca,Juvenil,pagines_max
0,0,Conversations_with_Friends,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
1,0,The_song_of_Achiles,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
2,0,Un_cuento_Perfecto,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
3,0,Pride_and_Prejudice,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
4,0,Los_Juegos_del_Hambre,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350

In [19]:
last_user = max(cases["id_usuari"])

In [20]:
last_user

51

In [29]:
data = cases[cases["id_usuari"] == 0].tail(1).to_dict(orient='records')[0]
fila

{'id_usuari': 0,
 'llibre_recomanat': 'Los_Juegos_del_Hambre',
 'score': 5,
 'genere_persona': 'dona',
 'any_naixement': 2003,
 'pref_adaptacio_peli': 'Si',
 'pref_best_seller': 'No',
 'pref_tipus_lectura': 'Indiferent',
 'pref_sagues': 'No',
 'Ciencia_Ficcio': 1,
 'Romance': 1,
 'Comedia': 1,
 'Historica': 1,
 'Ficcio': 1,
 'Fantasia': 0,
 'Ciencia': 0,
 'Creixement_personal': 0,
 'Policiaca': 0,
 'Juvenil': 0,
 'pagines_max': 350}

In [2]:
books = [[1, 'Pere'], [ 2, 'Maria']]
llibres = pd.DataFrame(books, columns=['llibre_id','autor'])

In [4]:
cases['llibre_id'] = 1

In [3]:
llibres.head()

   llibre_id  autor
0          1   Pere
1          2  Maria

In [5]:
cases.head()

,id_usuari,llibre_recomanat,score,genere_persona,any_naixement,pref_adaptacio_peli,pref_best_seller,pref_tipus_lectura,pref_sagues,Ciencia_Ficcio,...,Comedia,Historica,Ficcio,Fantasia,Ciencia,Creixement_personal,Policiaca,Juvenil,pagines_max,llibre_id
0,0,Conversations_with_Friends,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
1,0,The_song_of_Achiles,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
2,0,Un_cuento_Perfecto,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
3,0,Pride_and_Prejudice,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
4,0,Los_Juegos_del_Hambre,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1

In [6]:
df = cases[cases["id_usuari"] == 0]

In [7]:
df.head()

,id_usuari,llibre_recomanat,score,genere_persona,any_naixement,pref_adaptacio_peli,pref_best_seller,pref_tipus_lectura,pref_sagues,Ciencia_Ficcio,...,Comedia,Historica,Ficcio,Fantasia,Ciencia,Creixement_personal,Policiaca,Juvenil,pagines_max,llibre_id
0,0,Conversations_with_Friends,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
1,0,The_song_of_Achiles,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
2,0,Un_cuento_Perfecto,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
3,0,Pride_and_Prejudice,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
4,0,Los_Juegos_del_Hambre,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1

In [17]:
llegits = pd.merge(df[['id_usuari','llibre_recomanat','score','llibre_id']],llibres[['llibre_id', 'autor']], on='llibre_id')

In [18]:
llegits = llegits[['llibre_recomanat', 'autor', 'score']]

In [19]:
llegits

             llibre_recomanat autor  score
0  Conversations_with_Friends  Pere      5
1         The_song_of_Achiles  Pere      5
2          Un_cuento_Perfecto  Pere      5
3         Pride_and_Prejudice  Pere      5
4       Los_Juegos_del_Hambre  Pere      5

In [5]:
import pandas as pd

noms = [
    "Martí Sánchez", "Laia Vidal", "Arnau Roca", "Júlia Ferrer", "Gerard Bosch",
    "Elena Font", "Pau Soler", "Aina Pujol", "Pol Jover", "Marina Guzmán",
    "Joan Serra", "Clara Puig", "Miquel Llorens", "Emma Roig", "Èric Pons",
    "Anna Torres", "Hugo Marquès", "Olga Sànchez", "Marc Girona", "Berta Verdaguer",
    "Enric Ros", "Ariadna Vilalta", "Adrià Viñas", "Lola Aranda", "Àlex Solé",
    "Júlia Torrens", "Bruno Peralta", "Marta Aguilera", "Jordi Fuster", "Mireia Rojas",
    "Gerard Mas", "Clàudia Comas", "Oriol Mateu", "Cristina Duran", "Eduard Feliu",
    "Núria Casals", "Jaume Ramon", "Elisabet Cerdà", "Xavi Teixidor", "Carla Tarragó",
    "Oriol Sabaté", "Mariona Bernat", "Àngel Borràs", "Bianca Juvanteny", "Pau Puigdemont",
    "Aina Sabater", "Guillem Gallego", "Eva Soldevila", "Iker Sabaté", "Núria Ventura", "Alex Casanoves"
]

ids = [i for i in range(1,52)]


# Create a DataFrame from the generated data
Users = pd.DataFrame()
Users['id_usuari'] = ids
Users['nom'] = noms

Users.to_csv('Users.csv', index=False, encoding='utf-8')

Users

    id_usuari               nom
0           1     Martí Sánchez
1           2        Laia Vidal
2           3        Arnau Roca
3           4      Júlia Ferrer
4           5      Gerard Bosch
5           6        Elena Font
6           7         Pau Soler
7           8        Aina Pujol
8           9         Pol Jover
9          10     Marina Guzmán
10         11        Joan Serra
11         12        Clara Puig
12         13    Miquel Llorens
13         14         Emma Roig
14         15         Èric Pons
15         16       Anna Torres
16         17      Hugo Marquès
17         18      Olga Sànchez
18         19       Marc Girona
19         20   Berta Verdaguer
20         21         Enric Ros
21         22   Ariadna Vilalta
22         23       Adrià Viñas
23         24       Lola Aranda
24         25         Àlex Solé
25         26     Júlia Torrens
26         27     Bruno Peralta
27         28    Marta Aguilera
28         29      Jordi Fuster
29         30      Mireia Rojas
30         31        Gerard Mas
31         32     Clàudia Comas
32         33       Oriol Mateu
33         34    Cristina Duran
34         35      Eduard Feliu
35         36      Núria Casals
36         37       Jaume Ramon
37         38    Elisabet Cerdà
38         39     Xavi Teixidor
39         40     Carla Tarragó
40         41      Oriol Sabaté
41         42    Mariona Bernat
42         43      Àngel Borràs
43         44  Bianca Juvanteny
44         45    Pau Puigdemont
45         46      Aina Sabater
46         47   Guillem Gallego
47         48     Eva Soldevila
48         49       Iker Sabaté
49         50     Núria Ventura
50         51    Alex Casanoves

In [2]:
!pip install faker

Requirement already satisfied: faker in /Users/isabel/opt/anaconda3/lib/python3.9/site-packages (20.1.0)
Requirement already satisfied: python-dateutil>=2.4 in /Users/isabel/opt/anaconda3/lib/python3.9/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/isabel/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [12]:
titols = cases.llibre_recomanat.unique().tolist()
len(titols)

90

In [35]:
cases[cases['llibre_recomanat'].isin([titols[0]])]['score'].mean()

5.0

In [28]:
lectures = [len(cases[cases['llibre_recomanat'].isin([titols[i]])]) for i in range(90)]

In [36]:
valoracions = [cases[cases['llibre_recomanat'].isin([titols[i]])]['score'].mean() for i in range(90)]

In [37]:
ids = [i for i in range(1,91)]


# Create a DataFrame from the generated data
books = pd.DataFrame()
books['id_llibre'] = ids
books['titol'] = titols
books['autor'] = 'Autor'
books['num_lectors'] = lectures
books['valoracions'] = valoracions

books.to_csv('Books.csv', index=False, encoding='utf-8')

books

,id_llibre,titol,autor,num_lectors,valoracions
0,1,Conversations_with_Friends,Autor,3,5.0
1,2,The_song_of_Achiles,Autor,2,5.0
2,3,Un_cuento_Perfecto,Autor,2,5.0
3,4,Pride_and_Prejudice,Autor,5,5.0
4,5,Los_Juegos_del_Hambre,Autor,3,5.0
...,...,...,...,...,...
85,86,Bridget_Joness_Diary,Autor,1,5.0
86,87,Rebelion_en_la_Granja,Autor,1,5.0
87,88,Valeria_en_el_espejo,Autor,1,5.0
88,89,Frankenstein,Autor,1,5.0
89,90,How_to_Win_Friends_and_Influence_People,Autor,1,5.0

In [38]:
cases.head()

,id_usuari,llibre_recomanat,score,genere_persona,any_naixement,pref_adaptacio_peli,pref_best_seller,pref_tipus_lectura,pref_sagues,Ciencia_Ficcio,Romance,Comedia,Historica,Ficcio,Fantasia,Ciencia,Creixement_personal,Policiaca,Juvenil,pagines_max
0,0,Conversations_with_Friends,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
1,0,The_song_of_Achiles,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
2,0,Un_cuento_Perfecto,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
3,0,Pride_and_Prejudice,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350
4,0,Los_Juegos_del_Hambre,5,dona,2003,Si,No,Indiferent,No,1,1,1,1,1,0,0,0,0,0,350

In [41]:
ids_llibres = pd.merge(cases[['llibre_recomanat']],books[['id_llibre', 'titol']], left_on='llibre_recomanat', right_on='titol',how='left')

In [42]:
ids_llibres

,llibre_recomanat,id_llibre,titol
0,Conversations_with_Friends,1,Conversations_with_Friends
1,The_song_of_Achiles,2,The_song_of_Achiles
2,Un_cuento_Perfecto,3,Un_cuento_Perfecto
3,Pride_and_Prejudice,4,Pride_and_Prejudice
4,Los_Juegos_del_Hambre,5,Los_Juegos_del_Hambre
...,...,...,...
139,Frankenstein,89,Frankenstein
140,Conversations_with_Friends,1,Conversations_with_Friends
141,Atomic_Habits,24,Atomic_Habits
142,How_to_Win_Friends_and_Influence_People,90,How_to_Win_Friends_and_Influence_People
143,El_Monje_que_Vendio_su_Ferrari,26,El_Monje_que_Vendio_su_Ferrari

In [43]:
cases['id_llibre'] = ids_llibres['id_llibre']

In [44]:
cases

,id_usuari,llibre_recomanat,score,genere_persona,any_naixement,pref_adaptacio_peli,pref_best_seller,pref_tipus_lectura,pref_sagues,Ciencia_Ficcio,...,Comedia,Historica,Ficcio,Fantasia,Ciencia,Creixement_personal,Policiaca,Juvenil,pagines_max,id_llibre
0,0,Conversations_with_Friends,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,1
1,0,The_song_of_Achiles,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,2
2,0,Un_cuento_Perfecto,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,3
3,0,Pride_and_Prejudice,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,4
4,0,Los_Juegos_del_Hambre,5,dona,2003,Si,No,Indiferent,No,1,...,1,1,1,0,0,0,0,0,350,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,50,Frankenstein,5,dona,2003,Si,No,Densa,Indiferent,1,...,1,1,0,0,0,0,0,0,350,89
140,50,Conversations_with_Friends,5,dona,2003,Si,No,Densa,Indiferent,1,...,1,1,0,0,0,0,0,0,350,1
141,51,Atomic_Habits,5,home,1998,No,No,Fluida,Indiferent,0,...,0,0,0,0,0,1,0,0,150,24
142,51,How_to_Win_Friends_and_Influence_People,5,home,1998,No,No,Fluida,Indiferent,0,...,0,0,0,0,0,1,0,0,150,90
143,51,El_Monje_que_Vendio_su_Ferrari,5,home,1998,No,No,Fluida,Indiferent,0,...,0,0,0,0,0,1,0,0,150,26

In [45]:
cases.to_csv('Cases.csv', index=False, encoding='utf-8')